.PageNotFound{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.PageNotFound > h1 {
    font-size: 150px;
}

.red {
    color: red;
}