.CourseCard  .card  .details{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 300px;
    border-radius: 5px;
    color: rgb(219, 157, 75);
    border: solid 2px rgb(0, 13, 114);
    background: radial-gradient(rgb(26, 63, 55), rgb(36, 48, 73));
    padding: 5px;
    
}